.item{
    width: 21%;
}
.item img{
    width: 100%;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 15px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.item img {
    width: 250px; /* Ajusta según sea necesario */
    height: 350px; /* Proporción similar a la de las imágenes en tu ejemplo */
    object-fit: cover; /* Recorta la imagen si es necesario para ajustarla al tamaño */
    border-radius: 5px; /* Opción de bordes redondeados */
    margin-bottom: 10px; /* Espacio entre la imagen y el nombre */
}


@media(max-width:800px){
    .item{
        width: 35%;
    }
    .item-price-old{
        font-size: 12px;
    }
}
@media(max-width:500px){
    .item p{
        font-size: 14px;
    }
    .item-price-new{
        font-size: 14px;
    }
}

