.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
  }
  
  .popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
  }
  
  .popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }
  
  .popular-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px;
    justify-items: center;
  }
  
  /* Media queries para pantallas medianas */
  @media (max-width: 1024px) {
    .popular h1 {
      font-size: 40px;
    }
  
    .popular-item {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
      gap: 15px;
    }
  }
  
  /* Media queries para pantallas pequeñas */
  @media (max-width: 600px) {
    .popular {
      gap: 8px;
      height: auto; /* Ajusta la altura para pantallas pequeñas */
    }
  
    .popular h1 {
      font-size: 32px;
    }
  
    .popular hr {
      width: 150px;
    }
  
    .popular-item {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
      gap: 10px;
    }
  }
  